<style>
        input{border-radius: 20px;
              border: 0px;
              padding: 10px;
              margin: 15px;
              width: 80%;
              text-align: center;
              float: right;
              }
        input[type="checkbox"] {
              display: none;
            }
        input[type="checkbox"] + label {
          position: relative;
          margin: 15px;
          display: inline-flex;
          cursor: pointer;
          font-size: 24px;
          line-height: 1.5;
        }
        input[type="checkbox"] + label:before {
          width: 60px;
          height: 30px;
          border-radius: 20px;
          border: 2px solid #ddd;
          background-color: #EEE;
          content: "";
          margin-right: 15px;
          transition: background-color 0.5s linear;
        }
        input[type="checkbox"] + label:after {
          width: 30px;
          height: 30px;
          border-radius: 30px;
          background-color: #fff;
          content: "";
          transition: margin 0.1s linear;
          box-shadow: 0px 0px 5px #aaa;
          position: absolute;
          left: 2px;
          top: 2px;
        }
        input[type="checkbox"]:checked+label:before{
          background-color: #2b8718;
        }
        input[type="checkbox"]:checked+label:after {
          margin: 0 0 0 30px;
        }
        .submt{border-radius: 20px;
              border: 0px;
              padding: 10px;
              margin: 20px;
              max-width: 33%;
              display: inline-block;
              text-align: center;
              background-color: light-grey;
              cursor: pointer;
               }
        .submtcont {
              display: flex;
              flex-direction: row;
	          align-items:center;
	          justify-content:center;
        }
        .colorpck{
            border:1px solid #000000;
            width: 25%;
            display: inline-block;
        }
</style>
<script>
    function trick(event)
    {
        event.style.backgroundColor = String(event.value);
    }
</script>
<h2 class="page-text">Buy Lockzy</h2>
<p class="page-text">
    Wanna make your Lockzy as unique as yourself?
</p>
<form id="signup" method="post" enctype="application/x-www-form-urlencoded">
    <div style="margin-left: 4ch; overflow: auto; border-style: none">
        <canvas class="colorpck" id="colorpicker0" height="200"></canvas>
        <canvas class="colorpck" id="colorpicker1" height="200"></canvas>
    </div>
    <div style="margin-left: 4ch; overflow: auto">
        <label for="firstname"><b>First name*</b></label>
        <input type="text" placeholder="Enter First Name" name="firstname" required>
    </div>
    <div style="margin-left: 4ch; overflow: auto">
        <label for="lastname"><b>Last name*</b></label>
        <input type="text" placeholder="Enter Last Name" name="lastname" required>
    </div>
    <div style="margin-left: 4ch; overflow: auto">
        <label for="address"><b>Address*</b></label>
        <input type="text" placeholder="Enter Address" name="address" required>
    </div>
    <div style="margin-left: 4ch; overflow: auto">
        <label for="custom_message"><b>Custom Message</b></label>
        <input type="text" placeholder="Enter Message" name="custom_message">
    </div>
    <div class="submtcont" style="overflow: hidden; text-align: center;">
        <input type="checkbox" id="gift"><label for="gift"><b>Its a Gift</b></label>
        <button class="submt" type="submit">Buy with PayPal</button>
        <button class="submt" type="submit">Buy with Bitcoin</button>
    </div>
</form>
