{% load static %}
<h2 class="page-text">What is Lockzy</h2>
<p class="page-text">
    To say it like it is: Lockzy is a lid.
    <img src="{% static "images/lid/lockzy_alpha_top.png" %}" class="center">
    Lockzy is the first actually secure way to know that your drink hasnt been tampered with. Lockzy seals your beverage
    so only you and you alone can access it. We originally designed it to protect against date rape drugs - but we ain't
    telling you not to use it against wasps in summer.
</p>